		#Geral{
			background: gray;
			width: 1152px;
			height: 1100px;
			margin: 10px auto;
			} 
		#botoes{
			float: center;
			position: absolute;
			}	
		#botao{
			color: black;
			position: relative;
			left: 500px;
			text-decoration: none;
			}
		#btn-nn{
			float: center;
			position: relative;
			}	
		#botaobaixar{
			color: black;
			position: relative;
			left:  580px;
			bottom: 30.4px;
			margin: 10px;
			text-decoration: none;	
			}	
	