				*{
				margin:  0;
				padding: 0; 
				 }
		#geral{
				font-family: Heebo;
 				width: 1152px;
 				height: 1963px;
 				margin: auto;
				background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
 				  }
 		body, head{

				}		
 		#degrade{
 				background: #9F9F9F;
 				width: 1152;
 				height: 20;
 				}	
 		#topo{
 				text-decoration: none;
 				width: 100%;
 				height: 50px;
 				float: top;
 				background: #F3F3F3;
 				}	
 		#Formulario{
 				text-decoration: none;
 				color: #7A7A7A;
 				float: right;
 				margin:  5px;
 				}
 		#fluig{
 				text-decoration: none;
 				color: #7A7A7A;
 				float: right;
 				margin:  5px;
 				}
 		#Blog{
 				text-decoration: none;
 				color: #7A7A7A;
 				float: right;
 				margin: 5px;
 				}	
 		#home{
 				text-decoration: none;
 				color: #7A7A7A;
 				float: right;
 				margin: 5px;
 				}
 		#Principal{
 				color: #21243D;
 				float: right;
 				width: 1152;
 				height: 288px;
 				margin: 10px auto;
 				clear: both;
 				}
 		#Principal h1{
 				font: 44px heebo;
 				color: #21243D;
 				width: 506px;
 				height: 105px;
 				position: relative;
 				left: 80px;
 				bottom: 200px;
 				text-align: center;
 				}
 		#Principal h4{
 				color: #21243D;
 				position: relative;
 				left: 80px;
 				bottom: 200px;
 				font: 16px heebo;
 				text-align: left;
 				}
 		#Principal img{
 				position: relative;
 				left: 650px;
 				float: top;
 				}
 		#curriculo{
 				position:  relative;
 				top: 80px;
 				left: 1px;
 				color: #787878;
 				font: 20px heebo;
 				clear: both;
 				}
 		#grafico{
				float: right;
 				width:1152px;
 				height: 200px;
 				}
 		#tabela{
 				color: #21243D;
 				position: relative;
 				left: 400px;
 				clear: both;
 		    	}	
 		#grafico h2{
 				color: #21243D;
 				position: relative;
 				left: 500px;
 			    }
 			
 		#grafico th{
 				color: #8695A4;

 			    }
 		#Sublinha{
 				position: relative;
 				top: 180px;
 			    }  
 		#recomendacoes{
 				float: right;
 				color: black;
 				width:  ;
 				margin: ;
 				clear: both;
 				}
 		#TrabalhoRe{
 				color: #21243D;
 				position: relative;
 				bottom: 560px;
 			    }		
 		#rodape{
 				color: black;
 				width: ;
 				margin: ;
 				clear: both;
 				}