		*{
			margin: 0;
			padding: 0;
			}
		#geral{
				background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
 				width: 1152px;
 				height: 1963px;
 				margin: 10px auto;
 				
 			 }
 		#degrade{
 				width: 1152px;
 				height: 20px;
 				background: #9F9F9F;
 		     }		
 		#topo{
 				width: 100%;
 				height: 50px;
 				float: top;
 				background: #F3F3F3;
 		     }
 		#home{
 				text-decoration: none;
 				color: #7A7A7A;
 				float: right;
 				margin: 5px;
 		     }
 		#Formulario{
 				text-decoration: none; 				
 				color: #7A7A7A;
 				float:  right;
 				margin: 5px;
 		     }
 		#fluig{
 				text-decoration: none;
 				color: #7A7A7A;
 				float: right;
 				margin: 5px;
 			 }
 		#blog{
 				text-decoration: none;
 				color: #7A7A7A;
 				float: right;
 				margin: 5px;
 		     }	
 		#Principal{
 			  	float: top;
 			  	width: 1152;
 			  	height: ;
 			  	
 			  	  }   
 		#fonte{
 				color: #21243D;
 				position: relative;
 				top: 50px;
 				left: 80px;
 		}
 		#news1{
 				color: #21243D;
 				position: relative;
 				left: 180px;
 				top: 180px;

 		} 